.header-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-medium) var(--spacing-small);
}

.header-game > .logo-type {
    width: 150px;
}

.header-game > .about-link {
    margin-left: auto;
    margin-right: 10px;
}

.header-game > .game-menu {
    width: 25px;
}

@media (min-width: 740px) {
    .app .header-game {
        background-color: var(--color-gray-5);
    }

    .app .header-game > .logo-type {
        width: 250px;
    }

    .app .header-game > .about-link {
        font-size: var(--size-medium);
    }

    .app .header-game > .game-menu {
        width: 30px;
    }
}